global
    daemon

defaults
    mode tcp
    timeout connect 5s
    timeout client 1m
    timeout server 1m

frontend postgres_write
    bind *:5000
    default_backend primary_db

frontend postgres_read
    bind *:5001
    default_backend replica_db

backend primary_db
    option tcp-check

    tcp-check connect

    server pg1 pg1:5432 check
    server pg2 pg2:5432 check
    server pg3 pg3:5432 check

backend replica_db
    balance roundrobin
    option tcp-check

    server pg1 pg1:5432 check
    server pg2 pg2:5432 check
    server pg3 pg3:5432 check
